body{
    margin: 0px;
    min-width:200px;
    overflow-x:hidden;
    overflow-y:overlay;
}

#title{
    user-select:none;
    display: flex;
    align-items: center;
    position: relative;
    background-size: 100%;
    background-repeat:no-repeat;
    width: 100%;
    height: 15vh;
    top: 0%;
    text-shadow: 2px 2px black;
    z-index: 10;
}

#titlename{
    margin: 0;
    font-size: 40px;
    border: 10px;
    padding:10px;
    border-radius: 45px;
    border-style: solid;
    border-color:rgba(111, 217, 236, 0.336);
    color: rgb(218, 230, 62);
    position: absolute;
    left: 3.5%;
    animation: animateLogo 5s linear infinite;
}

@keyframes animateLogo {
    0%{
        border-color:rgba(111, 217, 236, 0.336);
        color: rgb(218, 230, 62);
    }
    50%{
        border-color:rgb(111, 217, 236);
        color: rgb(166, 230, 62);
    }
}

#upload-button{
    position: absolute;
    right: 6.5%;
}

.buttons{
    cursor: pointer;
    font-size: 10px;
    background-color: rgb(167, 238, 178);
    border-radius: 12px;
    border: 5px solid rgba(70, 199, 238, 0.733);
    transition-duration: 0.3s;
}

.buttons:hover {
    background-color: rgb(238, 236, 124);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.main-container, #title{
    min-width:500px;
    overflow-x:hidden;
}

.main-container{
    position:relative;
    margin-top:5%;
}

#right-banner{
    right: 0%;
}

#picture-section{
    margin-left:auto;
    margin-right:auto;
    display:flex;
    width:80%;
    gap:15px;
    margin-bottom:5%;
}

#background{
    width: 100vw;
    height: 100vh;
    background-color:rgba(141, 241, 248, 0.39);
    background-image: url("/static/images/backgroundpicture.jpg");
    background-size: cover;
    position: fixed;
}

#inner-picture-cont{
    width: 100%;
    display: flex;
    flex-direction:column;
    gap:15px;
}

.biggerframe{
    padding: min(8px, 10%);
    background-color: rgba(108, 190, 170, 0.521);
    box-shadow: 0 0 12px rgba(0,0,0,0.9);
    max-width: 350px;
    border-radius:5px;
}

img{
    width:100%;
}

::-webkit-scrollbar {
    width: 12px;
    background:linear-gradient(#2E3772, #977BBE);
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-thumb:hover{
    -webkit-box-shadow: inset 0 0 6px rgb(0,0,0); 
    background:rgba(116, 108, 190, 0.267);
}